.minor {
    width: 60px !important;
    font-size: x-small !important;
    border-radius: 10rem !important;
    padding: 0.3rem 0.3rem !important;
}
.use-claimant {
    width: 110px !important;
    font-size: x-small !important;
    border-radius: 10rem !important;
    padding: 0.3rem 0.3rem !important;
}
